.Rproj.user
.Rhistory
.RData
.DS_Store
*_cache/
*.html
*.gz
*.pdf
*.log
*.bbl
*.aux
*.blg
*.sty

DHARMa/vignettes/Demo.R
DHARMa/vignettes/Demo.html

Publications/Package/RegressionDiagnostics-concordance.tex
Publications/Package/DHARMa.docx
Publications/Package/RegressionDiagnostics.tex
Publications/Package/cache/

DHARMa.Rcheck/


Code/Tests/glmmTMB_files/figure-html/
DHARMa/vignettes/DHARMa.R
*.pptx
