.Rproj.user
.Rhistory
.RData

DHARMa_0.0.0.9000.tar.gz


*_cache/
*_files/

*.html

DHARMa/vignettes/Demo.html

DHARMa_0.0.0.9000.tgz

DHARMa/Rplots.pdf

DHARMa/vignettes/Demo.html

*.gz

DHARMa/vignettes/Demo.R

*.pdf

*.log

*.bbl

Publications/Package/RegressionDiagnostics-concordance.tex

Publications/Package/DHARMa.docx

Publications/Package/RegressionDiagnostics.tex

DHARMa.Rcheck/
